.textFace{
  transform: rotateX(-90deg) translateZ(-12px) translateY(13px);
  font-family: pixel;
}

.topFace{
  font-family: titleFont;
}

.container{
  perspective: 1000px;
  position: relative;
  /*top:-5px;*/
}

.container div{
  backface-visibility: hidden;
}

.frame{
  transform-style: preserve-3d;
}

.frame:not(:hover){
  animation: closeButton 1s backwards;
}

.frame:hover{
  animation: openButton 1s forwards;
}

.glow{
  box-shadow: 0 10px 10px #2563eb, 0 10px 20px #38bdf8;
}

@keyframes openButton { from { transform: rotateX(0deg)  } to { transform: rotateX(60deg) translateY(-5px) }  }
@keyframes closeButton { from { transform: rotateX(60deg) translateY(-5px)  } to { transform: rotateX(0deg) }  }

@font-face {
  font-family: "pixel";
  src: url("src/assets/fonts/poxel-font.ttf");
}
