<section class="bg-white dark:bg-gray-900/50 backdrop-blur">
  <div class="container px-6 py-10 mx-auto">
    <h1 class="text-3xl font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white">Updates</h1>
    <div class="mt-2">
      <span class="inline-block w-40 h-1 rounded-full bg-blue-500"></span>
      <span class="inline-block w-3 h-1 ml-1 rounded-full bg-blue-500"></span>
      <span class="inline-block w-1 h-1 ml-1 rounded-full bg-blue-500"></span>
    </div>
    <p class="mt-4 text-gray-500 xl:mt-6 dark:text-gray-300">
      Ici se retrouveront toutes les dernières mise à jour de mon portfolio. (Ajout d'un projet réalisé, nouvelle techno maitrisée...)
    </p>

    <div class="grid grid-cols-1 gap-8 mt-8 xl:mt-12 xl:gap-16 md:grid-cols-2 xl:grid-cols-3">
      <app-update *ngFor="let update of this.updates" [update]="update"></app-update>
    </div>
  </div>
</section>
