<div class="w-screen h-screen flex flex-col bg-gradient-to-br from-sky-500 to-indigo-500">
  <div class="flex-grow grow boundary">
    <app-about-window></app-about-window>
  </div>
  <div class="h-12 bg-gray-800 shadow-2xl flex-row flex">
    <div class="w-20 h-full p-2 text-white">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-box2-fill w-full h-full" viewBox="0 0 16 16">
        <path d="M3.75 0a1 1 0 0 0-.8.4L.1 4.2a.5.5 0 0 0-.1.3V15a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4.5a.5.5 0 0 0-.1-.3L13.05.4a1 1 0 0 0-.8-.4h-8.5ZM15 4.667V5H1v-.333L1.5 4h6V1h1v3h6l.5.667Z"/>
      </svg>
    </div>
    <mat-divider vertical="true"></mat-divider>
    <div class="flex-grow grow">

    </div>
    <mat-divider vertical="true"></mat-divider>
    <div class="w-20 h-full p-2 text-white z-50">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-box2-fill w-full h-full" viewBox="0 0 16 16">
        <path d="M3.75 0a1 1 0 0 0-.8.4L.1 4.2a.5.5 0 0 0-.1.3V15a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4.5a.5.5 0 0 0-.1-.3L13.05.4a1 1 0 0 0-.8-.4h-8.5ZM15 4.667V5H1v-.333L1.5 4h6V1h1v3h6l.5.667Z"/>
      </svg>
    </div>
  </div>
</div>
