# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/p_front/dist
/p_front/tmp
/p_front/out-tsc
# Only exists if Bazel was run
/p_front/bazel-out

# dependencies
/p_front/node_modules

# profiling files
p_front/chrome-profiler-events*.json

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/p_front/.angular/cache
/p_front/.sass-cache
/p_front/connect.lock
/p_front/coverage
/p_front/libpeerconnection.log
/p_front/npm-debug.log
/p_front/yarn-error.log
/p_front/testem.log
/p_front/typings

# System Files
.DS_Store
Thumbs.db
