<div class="flex flex-col space-y-1 justify-start h-full w-full border border-red-600">
  <div class="flex-none grow-0 h-16">

  </div>
  <div class="w-full px-2 flex-grow grow flex flex-row justify-between space-x-2 text-center select-none">
    <div class="h-full w-[35rem] rounded-lg shadow-lg dark:bg-gray-800/75 backdrop-blur flex-col flex overflow-hidden">
      <div class="grow-0 flex-none h-20 bg-white/25 flex flex-col justify-center text-white">
        <h2>Passions</h2>
      </div>
      <div class="flex-grow grow overflow-hidden">
        <div class="h-full w-full flex flex-col overflow-auto">

        </div>
      </div>
    </div>

    <div class="h-full w-[35rem] rounded-lg shadow-lg dark:bg-gray-800/75 backdrop-blur flex-col flex overflow-hidden">
      <div class="grow-0 flex-none h-20 bg-white/25 flex flex-col justify-center text-white">
        <h2>Etudes</h2>
      </div>
      <div class="flex-grow grow overflow-hidden">
        <div class="h-full w-full flex flex-col overflow-auto">

        </div>
      </div>
    </div>

    <div class="h-full w-[35rem] flex-col flex justify-start space-y-2">
      <div class="h-[50%] flex flex-col backdrop-blur bg-gray-800/75 overflow-hidden rounded-lg">
        <div class="grow-0 flex-none h-20 bg-white/25 flex flex-col justify-center text-white">
          <h2>Langages</h2>
        </div>
        <div class="flex-grow grow overflow-hidden">
          <div class="h-full w-full flex flex-col overflow-auto">
            <app-competence *ngFor="let language of competences.languages"></app-competence>
          </div>
        </div>
      </div>
      <div class="h-[50%] flex flex-col backdrop-blur bg-gray-800/75 overflow-hidden rounded-lg">
        <div class="grow-0 flex-none h-20 bg-white/25 flex flex-col justify-center text-white">
          <h2>Technos</h2>
        </div>
        <div class="flex-grow grow overflow-hidden">
          <div class="h-full w-full flex flex-col overflow-auto">

          </div>
        </div>
      </div>
    </div>

    <div class="h-full w-[35rem] rounded-lg shadow-lg dark:bg-gray-800/75 backdrop-blur flex-col flex overflow-hidden">
      <div class="grow-0 flex-none h-20 bg-white/25 flex flex-col justify-center text-white">
        <h2>Projects</h2>
      </div>
      <div class="flex-grow grow overflow-hidden">
        <div class="h-full w-full flex flex-col overflow-auto">

        </div>
      </div>
    </div>
  </div>
</div>
