<div class="w-full h-full p-2 flex flex-row justify-between space-x-2 text-center select-none">
  <div class="h-full w-[35rem] rounded-lg shadow-lg dark:bg-gray-800/75 backdrop-blur flex-col flex overflow-hidden">
    <div class="grow-0 flex-none h-20 bg-white/25 flex flex-col justify-center text-white">
      <h2>Passions</h2>
    </div>
  </div>

  <div class="h-full w-[35rem] rounded-lg shadow-lg dark:bg-gray-800/75 backdrop-blur flex-col flex overflow-hidden">
    <div class="grow-0 flex-none h-20 bg-white/25 flex flex-col justify-center text-white">
      <h2>Etudes</h2>
    </div>
  </div>

  <div class="h-full w-[35rem] flex-col flex justify-start space-y-2">
    <div class="h-[50%] flex flex-col backdrop-blur bg-gray-800/75 overflow-hidden rounded-lg">
      <div class="grow-0 flex-none h-20 bg-white/25 flex flex-col justify-center text-white">
        <h2>Langages</h2>
      </div>

    </div>
    <div class="h-[50%] flex flex-col backdrop-blur bg-gray-800/75 overflow-hidden rounded-lg">
      <div class="grow-0 flex-none h-20 bg-white/25 flex flex-col justify-center text-white">
        <h2>Technos</h2>
      </div>
    </div>
  </div>

  <div class="h-full w-[35rem] rounded-lg shadow-lg dark:bg-gray-800/75 backdrop-blur flex-col flex overflow-hidden">
    <div class="grow-0 flex-none h-20 bg-white/25 flex flex-col justify-center text-white">
      <h2>Projects</h2>
    </div>
  </div>
</div>
