<div class="p-8 w-96 border-2 border-blue-300 rounded-xl grow-0 shrink-0 flex-none">

  <h1 *ngIf="type === 0" class="text-2xl font-semibold text-gray-700 capitalize dark:text-white">{{language.name}}</h1>
  <h1 *ngIf="type === 1" class="text-2xl font-semibold text-gray-700 capitalize dark:text-white">{{techno.name}}</h1>

  <p *ngIf="type === 1" class="text-gray-500 dark:text-gray-300">
    {{techno.description}}
  </p>

  <div class="relative my-2">
    <div class="absolute w-full h-2 bg-gray-500 rounded-full z-[1] shadow-inner">

    </div>
    <div class="absolute flex flex-row z-[2]" [ngStyle]="{'width': language.master + '%'}" *ngIf="type === 0">
      <span class="inline-block flex-grow grow h-2 rounded-full bg-blue-500"></span>
      <span class="inline-block w-3 h-2 ml-1 rounded-full bg-blue-500"></span>
      <span class="inline-block w-1 h-2 ml-1 rounded-full bg-blue-500"></span>
    </div>
    <div class="absolute flex flex-row z-[2]" [ngStyle]="{'width': techno.master + '%'}" *ngIf="type === 1">
      <span class="inline-block flex-grow grow h-2 rounded-full bg-blue-500"></span>
      <span class="inline-block w-3 h-2 ml-1 rounded-full bg-blue-500"></span>
      <span class="inline-block w-1 h-2 ml-1 rounded-full bg-blue-500"></span>
    </div>
  </div>

<!--  <a href="#" class="inline-flex p-2 text-blue-500 capitalize transition-colors duration-200 transform bg-blue-100 rounded-full dark:bg-blue-500 dark:text-white hover:underline hover:text-blue-600 dark:hover:text-blue-500">-->
<!--    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">-->
<!--      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z" />-->
<!--    </svg>-->
<!--  </a>-->
</div>
