<div class="max-w-2xl mx-auto overflow-hidden bg-white rounded-lg shadow-md dark:bg-gray-800">
  <div class="p-6">
    <div>
      <span class="text-xs font-medium text-blue-600 uppercase dark:text-blue-400">{{update.type}}</span>
      <a href="#" class="block mt-2 text-2xl font-semibold text-gray-800 transition-colors duration-200 transform dark:text-white hover:text-gray-600 hover:underline">{{update.title}}</a>
      <p class="mt-2 text-sm text-gray-600 dark:text-gray-400">{{update.description}}</p>
    </div>

    <div class="mt-4">
      <div class="flex items-center">
        <span class="mx-1 text-xs text-gray-600 dark:text-gray-300">{{update.date}}</span>
      </div>
    </div>
  </div>
</div>
