<angular-carousel [bullets]="false" class="w-full h-64">
  <ng-container *ngFor="let picture of project.pictures; let i = index">
    <img *angularCarouselSlide
         [src]="'assets/pictures/projects/' + picture"
         class="block h-full max-h-[30rem]"
         alt="Project Picture"
    />
  </ng-container>
</angular-carousel>

<div class="p-6">
  <div>
    <div class="text-xs font-medium text-blue-600 uppercase w-full dark:text-blue-400 flex flex-row justify-evenly flex-wrap overflow-hidden">
      <div *ngFor="let language of project.languages; let i = index">{{language}} &nbsp; </div>
      <div *ngFor="let techno of project.technos">{{techno}} &nbsp;</div>
    </div>
    <h1 class="block mt-2 text-2xl font-semibold text-gray-800 transition-colors duration-200 transform dark:text-white">{{project.name}} - {{project.date}}</h1>
    <p class="mt-2 text-sm text-gray-600 dark:text-gray-400">{{project.description}}</p>
  </div>

  <div class="mt-4">
    <div class="flex items-center">

    </div>
  </div>
</div>
