<div class="mx-auto overflow-hidden bg-white rounded-lg shadow-md dark:bg-gray-800 grow-0 w-[30rem] shrink-0 flex-none cursor-pointer hover:ring-1 ring-blue-700 p-2" (click)="openProjectDetails()">
  <angular-carousel [bullets]="false" class="w-full min-h-[16rem] h-64 max-h-[16rem]">
    <ng-container *ngFor="let picture of project.pictures; let i = index" class="content-center">
      <img *angularCarouselSlide
        [src]="'assets/pictures/projects/' + picture"
        class="block h-full max-h-[16rem]"
        alt="Project Picture"
      />
    </ng-container>
  </angular-carousel>

  <div class="p-6">
    <div>
      <div class="text-xs font-medium text-blue-600 uppercase w-full dark:text-blue-400 flex flex-row justify-evenly flex-wrap overflow-hidden">
        <div *ngFor="let language of project.languages; let i = index">{{language}} &nbsp; </div>
        <div *ngFor="let techno of project.technos">{{techno}} &nbsp;</div>
      </div>
      <h1 class="block mt-2 text-2xl font-semibold text-gray-800 transition-colors duration-200 transform dark:text-white">{{project.name}}</h1>
      <p class="mt-2 text-sm text-gray-600 dark:text-gray-400">{{project.shortDescription}}</p>
    </div>

    <div class="mt-4">
      <div class="flex items-center">
        <span class="mx-1 text-xs text-gray-600 dark:text-gray-300">{{project.date}}</span>
      </div>
    </div>
  </div>
</div>
