<section class="dark:bg-gray-900/30 backdrop-blur-md shadow">
  <div class="container flex flex-col items-center px-4 py-12 mx-auto text-center">
    <h1 class="text-3xl font-semibold tracking-tight text-gray-700 sm:text-7xl dark:text-white">
      FUCHS Titouan
    </h1>

    <h3 class="text-3xl font-light tracking-tight sm:text-xl dark:text-gray-400">
      Etudiant en <b class="text-gray-50">Licence Professionnelle Developpeur Informatique</b> à l'<b class="text-gray-50">UHA 4.0</b>.<br>
      Je suis passionné par l'<b class="text-gray-50">informatique</b>, les <b class="text-gray-50">technologies</b>, et les <b class="text-gray-50">jeux vidéos</b>.
    </h3>

    <div class="mt-6 sm:-mx-2">
      <div class="inline-flex w-full sm:w-auto sm:mx-2">
        <a [routerLink]="'about'" class="inline-flex items-center justify-center w-full px-5 py-2 text-white bg-blue-600 rounded-lg hover:bg-blue-500 focus:ring focus:ring-blue-300 focus:ring-opacity-80">
          A propos de moi.
        </a>
      </div>
    </div>
  </div>
</section>
